<h1>Welcome to the Krusty Krab!</h1>
<img src="./assets/img/krabbypatty400x400.jpg">

<h2>Eat-Da-Burger!</h2>

<!--Need to append new burgers here and add "devour" btn-->
<h3>Ready to Eat!</h3>
<ul>
  {{#each burgers}} {{#unless this.devoured}}
  <li>
    <p>
      {{this.id}}.{{this.burger_name}}

      <button data-id="{{this.id}}" class="devburger">Devour It!</button>
    </p>
  </li>
  {{/unless}} {{/each}}
</ul>

<!--Need to add area for devoured burgers (after "devour" btn is hit)-->
<h3>All Done!</h3>
<ul>
  {{#each burgers}} {{#if this.devoured}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}} {{!--
      <button data-id="{{this.id}}" class="delburger">Delete</button> --}}
    </p>
  </li>
  {{/if}} {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" id="makeBurger">

  <div class="form-group">
    <textarea id="burgerName" type="text" name="plan"></textarea>
  </div>
  <button type="submit">Submit</button>
  <p>Enter a burger you crave then click the "Submit" button</p>
</form>

<script type="text/javascript">

  $("#makeBurger").on("submit", function (event) {
    event.preventDefault();
    var newBuns = {
      burger_name: $("#burgerName").val().trim()
    };
    console.log("This is new created burger ", newBuns);

    // Send the POST request.
    $.ajax("/burgers", {
      method: "POST",
      data: newBuns
    }).then(
      function () {
        console.log("created new burger");
          // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".devburger").on("click", function () {
    var id = $(this).data("id");
    console.log(id);
    // Send the PUT request.
    $.ajax({
      method: "PUT",
      url: "/burgers/" + id, 
    }).then(function (data) {
        // Reload the page to get the updated list
       location.reload();
      });
  });
</script>