<h1>Welcome to the Krusty Krab!</h1>
<img src="./assets/img/krabbypatty400x400.jpg">

<h2>Eat-Da-Burger!</h2>

<!--Need to append new burgers here and add "devour" btn-->
<h3>Ready to Eat!</h3>
<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger}}

      <button data-planid="{{this.id}}" class="devburger">Devour It!</button>
    </p>
  </li>
  {{/each}}
</ul>

<!--Need to add area for devoured burgers (after "devour" btn is hit)-->
<h3>All Done!</h3>
<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger}}

      <button data-planid="{{this.id}}" class="delburger">Delete</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" id="makeBurger">

  <div class="form-group">
    <input type="text" id="bun" name="name">
  </div>
  <button type="submit">Submit</button>
  <p>Enter a burger you want to eat then click the "Submit" button</p>
</form>

<script type="text/javascript">
  $(".delburger").on("click", function (event) {
    var id = $(this).data("planid");

    // Send the DELETE request.
    $.ajax("/todos/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#makeBurger").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      plan: $("#createplan [name=plan]").val().trim()
    };

    // Send the POST request.
    $.ajax("/todos", {
      type: "POST",
      data: newPlan
    }).then(
      function () {
        console.log("created new plan");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateplan").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedPlan = {
      plan: $("#updateplan [name=plan]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/todos/" + id, {
      type: "PUT",
      data: updatedPlan
    }).then(
      function () {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>